<div class="header">
  <nav>
    <div class="navbar-item">
      <h3>Universe Games CMS</h3>
    </div>
    <div class="navbar-item">
      <b> <a routerLink="/">Home</a> </b>
    </div>
    <div class="lista-contenuti">
      <div class="navbar-item">
        <b>Lista contenuti</b>
      </div>
      <ul>
        <li class="navbar-item">
          <a routerLink="/lista/games">
            <p>Lista videogiochi</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
        <li class="navbar-item">
          <a routerLink="/lista/categories">
            <p>Lista categorie</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
        <li class="navbar-item">
          <a routerLink="/lista/reviews">
            <p>Lista recensioni</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
        <li class="navbar-item">
          <a routerLink="/lista/news">
            <p>Lista notizie</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="crea-contenuti">
      <div class="navbar-item"><b>Crea contenuti</b></div>
      <ul>
        <li class="navbar-item">
          <a routerLink="/nuovo/games">
            <p>Nuovo videogioco</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
        <li class="navbar-item">
          <a routerLink="/nuovo/categories">
            <p>Nuova categoria/<br />console</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
        <li class="navbar-item">
          <a routerLink="/nuovo/reviews">
            <p>Nuova recensione</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
        <li class="navbar-item">
          <a routerLink="/nuovo/news">
            <p>Nuova notizia</p>
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
