<div class="header">
  <ul class="navbar-liste">
    <!-- <li>
      <h1>Lista contenuti</h1>
    </li> -->
    <li>
      <a routerLink="/lista/games">Lista videogiochi</a>
    </li>
    <li>
      <a routerLink="/lista/categories">Lista categorie</a>
    </li>
    <li>
      <a routerLink="/lista/reviews">Lista recensioni</a>
    </li>
    <li>
      <a routerLink="/lista/news">Lista notizie</a>
    </li>
  </ul>

  <ul class="navabr-inserimento">
    <!-- <li><h1>Crea contenuti</h1></li> -->
    <li><a routerLink="/nuovo/games">Nuovo videogioco</a></li>
    <li><a routerLink="/nuovo/categories">Nuova categoria</a></li>
    <li><a routerLink="/nuovo/reviews">Nuova recensione</a></li>
    <li><a routerLink="/nuovo/news">Nuova notizia</a></li>
  </ul>
</div>
