<div class="inserimento">
  <div *ngIf="showErrorMessage" class="error-message">
    <h2>Errore</h2>
    <p>Nessuna categoria selezionata, torna alla <a routerLink="">home</a></p>
  </div>

  <div *ngIf="showFormGames" class="inserimento-form">
    <app-form-videogiochi></app-form-videogiochi>
  </div>

  <div *ngIf="showFormCategories" class="inserimento-form">
    <app-form-categorie></app-form-categorie>
  </div>

  <div *ngIf="showFormNews" class="inserimento-form">
    <app-form-news></app-form-news>
  </div>
  <div *ngIf="showFormReviews" class="inserimento-form">
    <app-form-recensioni></app-form-recensioni>
  </div>
</div>
