.lista-videogiochi {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.game {
  padding: 1rem;
  margin: 1rem 0rem 1rem;
  width: 100%;
  background-color: white;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.game-cover-image {
  width: 12rem;
  height: 16rem;
}
