.homepage {
  width: 100%;
  padding: 4rem 5vw 4rem 5vw;
}

.default-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-default-image {
  width: 30vw;
  align-self: center;
}

.homepage-default-text {
  width: 100%;
  text-align: center;
}

.homepage-body {
  width: 100%;
  border: solid 1px lightgrey;
  box-shadow: 0.5rem 0.5rem 0.5rem lightgrey;
  border-radius: 1rem;
}

.toTopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  border-radius: 1rem;
  border: solid 2px;
  height: 2rem;
  width: 2rem;
  line-height: 1rem;
  opacity: 0.4;
  color: #00007c;
  user-select: none;
}

.toTopButton:hover {
  opacity: 1;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}
