.homepage {
  width: 100%;
  padding: 4rem 12vw 4rem 12vw;
}

.homepage-default {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
}

.homepage-body {
  width: 100%;
  border: solid 1px blue;
}
