<div class="lista-news">
    <h1 class="title">Lista News</h1>
    <div class="">
        <div class="news" *ngFor="let n of news$ | async">
            <b>Titolo: </b> {{ n.title }} <br />
            <b>Categoria: </b> {{ n.category }} <br />
            <b>Immagine: </b> <img [src]="n.imageUrl" /> {{ n.imageUrl }} <br />
            <b>Contenuto: </b> {{ n.content }} <br />
            <b>Data Pubblicazione: </b> {{ n.publicationDate }} <br />
            <b>Nome Autore: </b> {{ n.authorName }} <br />
            <b>Tags: </b> {{ n.tags }} <br />
        </div>
    </div>
</div>
