.lista-recensioni {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.title {
  margin: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

.recensione {
  margin: 2rem;
  padding: 1rem 2rem;
  border-bottom: solid 1px lightgray;
}

.recensione-img {
  width: 32rem;
  height: 18rem;
  justify-content: center;
  border: 5px black solid;
}

.recensione-img-list {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

.recensione-img > img {
  width: 100%;
  height: 100%;
  flex-direction: row;
  object-fit: cover;
  overflow-x: scroll;
}

.centro {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
