<div>
  <h1 class="lista-recensioni">Lista Recensioni</h1>
  <div class="">
    <div class="recensione" *ngFor="let r of recensioni$ | async">
      <b>Titolo:</b>{{ r.title }} <br />
      <b>Data di pubblicazione:</b>{{ r.publicationDate }} <br />
      <b>Contenuto:</b>{{ r.content }} <br />
      <b>Punteggio:</b>{{ r.score }} <br />
      <b>Recensore:</b>{{ r.reviewerName }} <br />
      <b>Immagini:</b>
      <div class="recensione-img-list">
        <div class="recensione-img" *ngFor="let i of r.imageUrls">
          <div class="container">
            <img [src]="i" [alt]="i" [title]="i" />
          </div>
        </div>
      </div>
      <br />
      <b>Codice gioco:</b>{{ r.reviewedGame.id }} <br />
      <b>Nome gioco:</b>{{ r.reviewedGame.name }} <br />
      <button (click)="onClickDelete(r._id)" mat-flat-button color="primary">
        Elimina
      </button>
      <button
        [routerLink]="'/modifica/reviews/' + r._id"
        mat-flat-button
        color="primary"
      >
        Modifica
      </button>
    </div>
  </div>
</div>
