.lista-recensioni {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.title {
  margin: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

.recensione {
  margin: 2rem;
  padding: 1rem 2rem;
  border-bottom: solid 1px lightgray;
}

.recensione-img {
  width: 28rem;
  height: fit-content;
  justify-content: center;
  flex-shrink: 0;
}

.recensione-img-list {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  
}

.flex_center {
  justify-content: center;
}

.recensione-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.centro {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;  
}
